body {
  margin: 50px auto;
  max-width: 1200px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
}

input, select {
  font-size: 22px;
} 

.user-list {
  background-color: #eee;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  .user {
    flex-basis: 30%;
    display: flex;
    
    &__image {
      order: -1;
      padding: 20px;
    }
    
    &__name {
      align-self: center;
    }
  }
}

